@use "../../mixins.scss" as mixins;

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 25%;
    border: 1px solid #D9DBE9;
    z-index: 99;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    flex-direction: column;
    background-color: #fff;

    transition: all 0.25s ease-out;


    .logo {
        height: 20px;
    }

    .closeIcon {
        color: mixins.$blue-color;
        position: absolute;
        z-index: 999;
        font-size: 1rem;
        right: 1rem;
        top: 1rem;
    }

    &.closed {
        right: unset;
        left: -100%;
    }

    .navLinks {
        list-style: none;
        width: 100%;
        text-align: center;

            .navLink {
                text-decoration: none;
                display: block;
                margin: 1rem auto;
                font-weight: 700;
                color: #0000006E;
                font-size: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    margin-right: 0.75rem;
                    padding: 5px;
                    font-size: 0.65rem;
                    border-radius: 4px;
                }

                &.activeLink {
                    color: #14142B;
                    border-left: 7px solid mixins.$blue-color;
                    border-radius: 5px;

                    i {
                        background-color: mixins.$blue-color;
                        color: #fff;
                    }
                }
            }
        }
}

.openIcon {
    margin: 0.75rem;
    color: mixins.$blue-color;
}
 

@include mixins.desktop {
    .sidebar {
        position: static;

        .logo {
            height: 25px;
        }

        .navLinks {
            .navLink {
                font-size: 1.25rem;

                i {
                    font-size: 0.85rem;
                }
            }
        }

        .closeIcon {
            display: none;
        }
    }

    .openIcon {
        display: none;
    }
}